body{
    font-family: Helvetica;
    background-color: #a5eee7;
}
.title{
    color: #6200EE;
    text-align: center;
}
.empty{
    text-align: center;
}
.app-container{
    max-width: 400px;
    margin: 30px auto;
    padding: 20px;
    background-color: #f3f3f3;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.form-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.input-field{
    flex:1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.add-button{
    background-color: #03dac5;
    border-radius: 4px;
    border: none;
    color: #333;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.5s;
    opacity: 1;
}
.add-button:hover{
   opacity: 0.7;
}
.todo-list{
    max-width: 350px;
    margin: 10px auto;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 4px;
    list-style: none;
}
.todo-item{
    margin: 5px auto;
    color: rgb(93, 93, 93);
    max-width: 280px;
    border: 1px solid #ccc;
    background-color: rgb(232, 232, 232);
    border-radius: 4px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.delete-btn{
    background-color: #df5959;
    border: none;
    padding: 5px 10px;
    align-items: center;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.9s;

}
.delete-btn:hover{
    opacity: 0.8;

}